<form class="row align-vertical">
	<div class="col-md-12 align-vertical">
		Create Lead
	</div>
	<div class="col-md-6 form-group">
		<div class="col-md-6">
			<label>Salutation</label>
		</div>
		<div class="col-md-6">
			<select name="salutation" [(ngModel)]="lead.Salutation" class="form-control">
				<!--<option *ngFor="let salutation of salutations" [ngValue]="salutation.value">{{salutation.display}}</option>-->
				<option *ngFor="let salutation of salutations" [ngValue]="salutation">{{salutation}}</option>
			</select>
		</div>
	</div>

	<div class="col-md-6 form-group">
		<div class="col-md-6">
			<label>First Name</label>
		</div>
		<div class="col-md-6">
			<input type="text" name="first-name" id="first-name" [(ngModel)]='lead["First Name"]' class="form-control">
		</div>
	</div>

	<div class="col-md-6 form-group">
		<div class="col-md-6">
			<label>Last Name</label>
		</div>
		<div class="col-md-6">
			<input type="text" name="last-name" id="last-name" [(ngModel)]='lead["Last Name"]' class="form-control">
		</div>
	</div>

	<div class="col-md-6 form-group">
		<div class="col-md-6">
			<label>Company</label>
		</div>
		<div class="col-md-6">
			<input type="text" name="company" id="company" [(ngModel)]="lead.Company" class="form-control">
		</div>
	</div>

	<div class="col-md-6 form-group">
		<div class="col-md-6">
			<label>Phone Number</label>
		</div>
		<div class="col-md-6">
			<input type="text" name="phone" id="phone" [(ngModel)]="lead.Phone" class="form-control">
		</div>
	</div>

	<div class="col-md-6 form-group">
		<div class="col-md-6">
			<label>Email</label>
		</div>
		<div class="col-md-6">
			<input type="email" name="email" id="email" [(ngModel)]="lead.Email" class="form-control">
		</div>
	</div>

	<div class="col-md-6 form-group">
		<button (click)="add()" class="btn"> Submit </button>
	</div>

	<div class="col-md-6 form-group">
		<button type="reset" class="btn"> Reset </button>
	</div>
</form>

<form>
	<div class="form-group">
		<label for="single">single</label>
		<input type="file" class="form-control btn" name="single" ng2FileSelect [uploader]="uploader" />
	</div>

	<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()">
    	Upload
    </button>
</form>